[Unit]
Description=NetVisr SSH Monitor police service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/netvisr/netvisr-police.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
